:root {
  --mainTextColor: #0f346c;
  --mainTextColorHover: #09155a;
  --grayTextColor: rgba(0, 0, 0, 0.5);
  --secondaryBtnColor: #f65f24;
  --secondaryBtnColorHover: rgb(230, 70, 22);
  --bgLightGray: rgb(232, 236, 238);
  --bgNormalGray: rgb(200, 203, 216);
}

body {
  font-family: "Montserrat", sans-serif;
}

div,
li,
img {
  transition: all, 0.2s;
}

.text-primary {
  color: var(--mainTextColor) !important;
  font-weight: bold;
}

/***************************************************MENU************************************************/

#menu-logo {
  width: 70px;
}

.nav-link {
  font-size: 13px;
}

#menu-login {
  color: var(--grayTextColor);
}

#menu-signup {
  background-color: var(--secondaryBtnColor);
  color: white;
  font-size: 13px;
  border-radius: 2px;
}

#menu-signup:hover {
  background-color: var(--secondaryBtnColorHover);
}

#mobileMenu {
  display: none;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: var(--bgNormalGray);
}

#mobileMenu-form {
  width: fit-content;
}
#menuContainer {
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: var(--bgNormalGray);
}

#menu {
  max-width: 900px;
}

.navbar-toggler {
  border-style: none;
}

/***************************************************END MENU************************************************/

/***************************************************SERVING MENU*******************************************/
#foodMenuContainer {
  background-color: var(--bgLightGray);
  height: fit-content;
  padding: 0;
  width: 100%;
}

#foodMenuContainer > div {
  width: 100%;
  margin: 0;
}

#exploreMenu {
  border-style: solid;
  width: 100%;
  min-width: 260px;
  max-width: 750px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;

  border-radius: 100px;
  border-width: 2px;
  border-color: var(--bgNormalGray);
  padding: 10px;
  position: relative;
}

#exploreMenu div {
  font-size: 40px;
}

#exploreMenu > div:nth-child(1) {
  text-align: right;
  padding-right: 40px;
  color: var(--mainTextColor);
  font-weight: bold;
}

#exploreMenu > div:nth-child(2) {
  padding-left: 40px;
  color: var(--mainTextColor);
  font-weight: bold;
}

#exploreMenu::after {
  width: fit-content;
  height: fit-content;
  content: "OUR";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  padding: 5px;
  font-size: 15px;
  font-weight: bold;
  text-align: center;
  color: white;
  transform: rotate(-10deg) skew(-10deg, 0);
  border-radius: 5px;
  background-color: var(--mainTextColor);
}

#servingMenu {
  margin-top: 40px;
}

#servingMenu li {
  cursor: pointer;
  height: fit-content;
}

#servingMenu li:not(:first-child) {
  margin-left: 80px;
  text-align: center;
}

.servingMenu-smallP {
  font-size: 13px;
  margin-bottom: 0;
  text-align: center;
  color: var(--mainTextColor);
}

.servingMenu-bigP {
  font-size: 18px;
  color: var(--mainTextColor);
  margin-bottom: 0;
}

.servingMenuSelectedItem {
  border-bottom-style: solid;
  border-bottom-width: 3;
  border-bottom-color: var(--mainTextColor);
}

#foodMenuContainer-textUndeMenu {
  width: 512px;
  margin: 32px auto 40px;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: var(--grayTextColor);
}

#mobileServingMenu {
  display: none;
  margin-top: 20px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: var(--bgNormalGray);
}

#mobileServingMenu p {
  cursor: pointer;
}

#navbarSupportedContent2 > ul > li:not(:first-child) {
  margin-top: 15px;
}

.servingMenu-item {
  cursor: pointer;
}

/***********************************************************************************************************/

/***************************************************DATE HEADER********************************************/
#dateHeader {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: var(--bgNormalGray);

  border-bottom-style: solid;
  border-bottom-width: 1px;
  border-bottom-color: var(--bgNormalGray);

  height: 65px;
}

#dateHeader-container {
  height: 100%;
  max-width: 900px;
}

#dateHeader-container span {
  font-size: 16px;
  font-weight: bold;
}

#dateHeader-container-getCookin {
  background-color: var(--mainTextColor);
  color: white;
  font-size: 13px;
  border-radius: 50px;
  padding-left: 18px;
  padding-right: 18px;
  height: 45px;
  font-weight: 600;
  float: right;
}

#dateHeader-container-getCookin:hover {
  background-color: var(--mainTextColorHover);
}

#dateHeader-container {
  padding: 0;
}
/*************************************************************************************************/

/*************************************************************FOOD ITEMS*********************************/

#foodItems {
  margin-top: 30px;
  max-width: 900px;
  height: fit-content;
}

#foodItems-sm {
  display: none;
}

#foodItems-md img {
  width: 100%;
}

#foodItems-md img:hover {
  transform: scale(1.1, 1.1);
}

#foodItems-sm img {
  width: 100%;
}

#foodItems-sm img:hover {
  transform: scale(1.1, 1.1);
}

.foodItems-imgs {
  border-radius: 2px;
  width: 100%;
  height: 130px;
  overflow: hidden;
  margin-bottom: 15px;
}

#foodItems span {
  font-size: 20px;
  font-weight: bold;
  color: var(--mainTextColor);
  width: 100%;
}

#foodItems p {
  font-size: 15px;
  color: var(--grayTextColor);
  margin-bottom: 15px;
}

.foodItems-time {
  position: absolute;
  bottom: 0;
  padding: 0;
  font-size: 15px;
  color: var(--grayTextColor);
  width: fit-content;
}

#foodItems-md > .col {
  height: 290px;
  cursor: pointer;
}

#foodItems-sm > .col-sm {
  height: 290px;
  cursor: pointer;
}

.w-100 {
  margin-bottom: 20px;
}

#foodItems-footer {
  position: relative;
  max-width: 900px;
  height: fit-content;
  border-style: solid;
  border-width: 1px;
  margin-top: 30px;
  margin-bottom: 60px;
  border-radius: 5px;
  border-color: var(--bgNormalGray);
}

#foodItems-footer div {
  height: 100%;
}

#foodItems-footer > div > .col-md-4 {
  padding: 30px;
}

.foodItems-footer-line {
  width: 20px;
  height: 0px;
  border-style: solid;
  border-width: 2px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10px;
}

#foodItems-footer h1 {
  font-size: 16px;
  text-align: center;
  font-weight: bold;
  color: #161616;
}

#foodItems-footer p {
  text-align: center;
  margin-top: 10px;
}

#foodItems-footer-line {
  background-color: var(--mainTextColor);
  color: white;
  font-size: 13px;
  border-radius: 50px;
  padding-left: 100px;
  padding-right: 100px;
  height: 45px;
  font-weight: 600;

  position: absolute;
  bottom: -22.5px;
  left: 0;
  right: 0;
  margin: auto;
}

/*************************************************************************************************/

@media only screen and (max-width: 767px) {
  #mobileMenu {
    display: flex;
  }

  #menu {
    display: none;
  }

  #menu-logo {
    width: 100px;
  }

  #servingMenu li:not(:first-child) {
    margin-left: 15px;
    text-align: center;
  }

  #foodItems-sm {
    display: flex;
  }

  #foodItems-md {
    display: none;
  }

  #foodItems-footer {
    max-width: 512px;
  }

  #foodItems-footer > div > .col-md-4 {
    padding: 20px;
  }
}

@media only screen and (max-width: 575px) {
  #exploreMenu > div:nth-child(1) {
    text-align: center;
    padding-bottom: 10px;
    padding-left: 0;
    padding-right: 0;
  }
  #exploreMenu > div:nth-child(2) {
    text-align: center;
    padding-top: 10px;
    padding-left: 0;
    padding-right: 0;
  }

  #servingMenu {
    display: none;
  }

  #foodMenuContainer-textUndeMenu {
    width: 95%;
  }
  #mobileServingMenu {
    display: flex;
  }

  .foodItems-imgs {
    height: 180px;
  }
}

@media only screen and (max-width: 400px) {
  .foodItems-imgs {
    height: 130px;
  }
}
