:root{
    --mainTextColor: #0F346C;
    --grayTextColor: color: rgba(0,0,0,.5);
    --secondaryBtnColor: #F65F24;
    --secondaryBtnColorHover: rgb(230, 70, 22);
}

body{
    transition: all, 0.2s;
    font-family: 'Montserrat', sans-serif;
}

#menu-logo{
    width: 70px;
}

.nav-link{
    font-size: 13px;
}

.text-primary{
    color: var(--mainTextColor) !important;
    font-weight: bold;
}

#menu-login{
    color: var(--grayTextColor);
}

#menu-signup{
    background-color: var(--secondaryBtnColor);
    color: white;
    font-size: 13px;
    border-radius: 2px;
}

#menu-signup:hover{
    background-color: var(--secondaryBtnColorHover);
}

#mobileMenu{
    display: none;
}

#mobileMenu-form{
    width: fit-content;
}

@media only screen and (max-width: 767px) {
    #mobileMenu{
        display: flex;
    }

    #menu{
        display: none;
    }

    #menu-logo{
        width: 100px;
    }
    
  }